doctype html
html(lang='en', dir='ltr')
  head
    title Takko
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(charset='UTF-8')
    link(rel='stylesheet', href='../../stylesheets/vendors/bootstrap/bootstrap.css')
  body
        .container  
          .row.index-header
            .col-xs-12
              a(href='#')
                img(src='../../assets/img/logo_tmp.png')
              h1
                | Index   
                span.light PROTOTYPES
          .row.index-content
            .col-xs-12
              p.m-b-0 Styled prototypes showing responsive website.
              p.m-b-lg  Prototypes can be navigated using the links below.                                 
              ol()
                li
                  a.nav-link(href='pov/pov.html') POV                                  
                li
                  a.nav-link(href='pdp/pdp-productdetail.html') PDP                                    
                li
                  a.nav-link(href='pdp/pdp-productset.html') PDP Product Set
                li
                  a.nav-link(href='pdp/pdp-productdetail-logged-out.html') PDP with My Account Header Logged Out                  
                li
                  a.nav-link(href='pdp/pdp-productdetail-promo.html') PDP with promo banner                 
                li
                  a.nav-link(href='carts/cart.html') Cart
                li
                  a.nav-link(href='myaccount/login.html') My Account
                li
                  a.nav-link(href='search/search.html') Search                          
                li
                  a.nav-link(href='search/errors.html') Errors
                li
                  a.nav-link(href='search/page_not_found.html') Page Not Found                   
                li
                  a.nav-link(href='storefinder/storefinder.html') Storefinder 

              ul.m-t-lg
                h6
                  span.nav-link(href='') Checkout Prototype Pages                                             
                li
                  a.nav-link(href='login/login.html') 01 Login
                li
                  a.nav-link(href='checkout/billing.html') 02a User Addresses
                li  
                  a.nav-link(href='checkout/billing-guest.html') 02b Guest Addresses   
                li  
                  a.nav-link(href='checkout/store_finder.html') 02c Select Store (storefinder TBC)                                   
                li
                  a.nav-link(href='checkout/payment_method.html') 03a User Payment Method All
                li  
                  a.nav-link(href='checkout/payment_method_noklarna.html') 03b User Payment Method with Klarna Disabled
                li  
                  a.nav-link(href='checkout/payment_method_error.html') 03c User Payment Method Failure
                li
                  a.nav-link(href='checkout/placeorder.html') 04 Summary Page
                li
                  a.nav-link(href='checkout/receipt.html') 05a User Confirmation Receipt
                li
                  a.nav-link(href='checkout/receipt-shipping.html') 05b User Confirmation Receipt (with Shipping address)
                li
                  a.nav-link(href='checkout/receipt_guest.html') 05c Guest Confirmation Receipt


              ul.m-t-lg
                h6
                  span.nav-link(href='') Checkout Wireframes  (From Confluence)
                li
                  a.nav-link(href='https://marvelapp.com/j851fg') USER Registered (no s2s)   
                li
                  a.nav-link(href='https://marvelapp.com/8cafjc') USER Flow No Klarna
                li
                  a.nav-link(href='https://marvelapp.com/8cb89g') USER Ship to store             
                li
                  a.nav-link(href='https://marvelapp.com/163caah') USER Ship To Store No Stores Available
                li
                  a.nav-link(href='https://marvelapp.com/fde8f3') USER Flow Payment Error (Example)                            
                li
                  a.nav-link(href='https://marvelapp.com/fc466j') GUEST Standard (no s2s)
                li
                  a.nav-link(href='https://marvelapp.com/b306ij') GUEST Flow Ship To Store (via account creation or login)            
                li
                  a.nav-link(href='https://marvelapp.com/8da3ga') GUEST No Klarna (via add new shipping address drop)            

              p &nbsp;
              p &nbsp;
                                     
